.cocoa-wrapper {
  .cocoa-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
      height: 80%;
    }

    @media screen and (max-width: 480px) {
      font-size: 1rem;
      height: 75%;
    }

    @media screen and (max-width: 320px) {
      font-size: 0.8rem;
      height: 60%;
    }
  }
}
