.wrapper-about {
  .line {
    border: 2px solid #267bbe;
    border-radius: 2px;
    margin: auto;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
